@model MVCPerfectCarsData.Banner

@{
}
<form method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="DateOfCreation" />
    <input type="hidden" asp-for="Image" />
    <div class="card card-default card-outline">
        <div class="card-header">
            <div class="card-title">
                <i class="fa fa-pencil"></i>
                Görsel Güncelleme
            </div>

        </div>
        <div class="card-body">
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <div>
                        <img id="previewImage" src="@Model.SafeImage" width="384" height="96" class="p-2 border" />
                    </div>
                    <label asp-for="Image"></label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" accept="image/*" id="ImageFile" name="ImageFile">
                        <label class="custom-file-label" for="ImageFile" data-browse="Gözat">Görsel dosyası seçiniz</label>
                    </div>
                    <div class="py-2">
                        <div class="alert alert-light">
                            <div class="d-flex flex-row">
                                <div class="px-2">
                                    <i class="fa fa-info-circle fa-2x"></i>
                                </div>
                                <div class="px-2">
                                    <ul class="list-unstyled">
                                        <li>En iyi görünüm için 1920&times;480 ebadında görseller yükleyiniz</li>
                                        <li>Yüklenen görseller otomatik olarak 1920&times;480 ebadına getirilecektir.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-12 col-md-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" asp-for="Enabled">
                        <label class="custom-control-label" for="Enabled" asp-for="Enabled"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <a asp-action="Index" class="btn btn-danger">İptal</a>
        <button type="submit" class="btn btn-success">
            <i class="fa fa-save"></i>
            KAYDET
        </button>
    </div>
</form>
<div>
    <a asp-action="Index">Listeye Geri Dön</a>
</div>

@section scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script>
        $(() => {
            bsCustomFileInput.init();
            $('#ImageFile').change((e) => {
                const r = new FileReader();
                r.onloadend = () => {
                    $('#previewImage').attr('src', r.result);
                };
                r.readAsDataURL($('#ImageFile')[0].files[0]);
            });
        });
    </script>
}