@model IEnumerable<MVCPerfectCarsData.Banner>

@{
}
<div class="p-2 border text-right">
    <a asp-action="Create" class="btn btn-primary">
        <i class="fa fa-plus"></i>
        YENİ KAYIT
    </a>
</div>

<div class="card card-primary card-outline">
    <div class="card-header">
        <div class="card-title">Görsel Listesi</div>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Görsel
                    </th>
                    <th>
                        Durum
                    </th>
                    <th>
                        Tarih
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img src="@item.Image" width="192" height="48" />
                        </td>
                        <td>
                            @if (item.Enabled)
                            {
                                <span class="text-success">
                                    <i class="fa fa-check"></i>
                                </span>
                            }
                            else
                            {
                                <span class="text-danger">
                                    <i class="fa fa-times"></i>
                                </span>
                            }
                        </td>
                        <td>
                            @item.DateOfCreation.ToShortDateString()
                        </td>
                        <td>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger delete-btn">
                                <i class="fa fa-trash"></i>
                            </a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning">
                                <i class="fa fa-edit"></i>
                            </a>

                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>

@section scripts {
    <partial name="_RemoveConfirmationPartial" />
}