@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    
}
<div class="container m-lg-5 h-100 d-md-inline-block justify-content-center p-4" align="center">
    <div>
        <div>
            <h2 class="text-success"> HOŞGELDİNİZ  </h2>
        </div>
    </div>
    <div>
        <div>
            <h3 class="text-primary"> Yönetim Panelinden Kayıt/Güncelleme/Silme işlemlerini gerçekleştirebilirsiniz.</h3>
        </div>
    </div>
    <div>
        <div>
            <i class="fas fa-smile-wink fa-7x text-info"></i>
        </div>
    </div>

</div>   
    
   
