@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bize Ulaşın";
}

<div class="h2">
    @ViewData["Title"]
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <p>Dön dolaş sk. arabul apt. no. kapıda yazılı</p>
        <p>0555 444 55 66</p>
        <p>info@mvcperfectcars.com</p>
    </div>
    <div class="col-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1549.9058142115396!2d29.02729263297114!3d40.990990833524826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab868bc7b2835%3A0x2adb3d1de37695aa!2zT3NtYW5hxJ9hLCBTw7bEn8O8dGzDvCDDh2XFn21lIENkIG5vOjMzLzUsIDM0NzE0IEthZMSxa8O2eS_EsHN0YW5idWw!5e0!3m2!1str!2str!4v1638007152532!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>


@section Scripts {

}