@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Bize Ulaşın";
}

<div class="h2">
    @ViewData["Title"]
</div>

<div class="row">
    <div class="col-12 col-md-6">
        <p>Altınşehir Mahallesi Doğanevler Caddesi Tuna Sokak No:20/6 Ümraniye/İstanbul </p>
        <p>0542 629 38 61</p>
        <p>info@mvcperfectcars.com</p>
    </div>
    <div class="col-12 col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3010.525400941867!2d29.13745191613388!3d41.013759927035274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cacf32b7b84a07%3A0x467cfd35b5f93c36!2zQWx0xLFuxZ9laGlyLCBUdW5hIFNrLiBObzoyMCwgMzQ3NzUgRHVkdWxsdSBPc2Ivw5xtcmFuaXllL8Swc3RhbmJ1bA!5e0!3m2!1str!2str!4v1644848650095!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>


@section Scripts {

}